
; -----------------------------------------------------------------------------
; Default values for maps of source attributes
; -----------------------------------------------------------------------------
;
; :export-type (keyword)
; Specifies what type the attribute value should be converted into.
; - Booleans are represented with "0" and "1".
; - Numeric types are stored as strings (only evaluated when / where needed).
; - Lists are stored as strings (separated by commas).
; - Strings are default types for translated attribute values.
; :boolean, :text
;
; :import-strategy (keyword)
; Specifies what import strategy should be applied when the target attribute has been already populated.
; :overwrite, :append, :prepend, :ignore
; Default: :append
;
; :source-language (keywords in map)
; Specifies the source language for translating the attribute value when stored as multilingual.
; {:primary ..., :fallback ...}
;
; :target-key (keyword)
; Specifies the target key within the product data where the translated attribute value should be stored.



; Default values
{:export-type     :text
 :import-strategy :append
 :source-language {:primary :en :fallback :de}
 :target-key      nil}
