
{:clothing-size
 {:description {:en-gb "Clothing size of the product."
                :hu-hu "A termék ruházati mérete."}
  :label       {:en-gb "Clothing size"
                :hu-hu "Ruházati méret"}}

 :recommended-body-height
 {:description {:en-gb "Recommended body height or size range for wearing the product."
                :hu-hu "A termék viseléséhez ajánlott testmagasság vagy mérettartomány."}
  :label       {:en-gb "Body height"
                :hu-hu "Testmagasság"}}

 :temperature-rating-comfort
 {:show-description? true
  :description {:en-gb "Comfort temperature rating of the product."
                :hu-hu "A termék komfort hőmérsékleti besorolása."}
  :label       {:en-gb "Comfort temperature rating"
                :hu-hu "Komfort hőmérsékleti besorolás"}}

 :temperature-rating-extreme
 {:show-description? true
  :description {:en-gb "Minimum survival temperature rating of the product (EN / ISO standard)."
                :hu-hu "A termék minimális túlélési hőmérsékleti besorolása (EN / ISO szabvány)."}
  :label       {:en-gb "Extreme temperature rating"
                :hu-hu "Extrém hőmérsékleti besorolás"}}}
