
{:force-pull
 {:description {:en-gb "Pull force of the product."
                :hu-hu "A termék húzóereje."}
  :label       {:en-gb "Pull force"
                :hu-hu "Húzóerő"}}

 :force-push
 {:description {:en-gb "Push force of the product."
                :hu-hu "A termék nyomóereje."}
  :label       {:en-gb "Push force"
                :hu-hu "Nyomóerő"}}

 :force-thrust
 {:description {:en-gb "Thrust force of the product."
                :hu-hu "A termék tolóereje."}
  :label       {:en-gb "Thrust force"
                :hu-hu "Tolóerő"}}

 :pressure
 {:description {:en-gb "Pressure specification of the product."
                :hu-hu "A termék nyomásspecifikációja."}
  :label       {:en-gb "Pressure"
                :hu-hu "Nyomás"}}

 :pressure-max
 {:description {:en-gb "Maximum operating pressure of the product."
                :hu-hu "A termék maximális üzemi nyomása."}
  :label       {:en-gb "Maximum pressure"
                :hu-hu "Maximális nyomás"}}

 :pressure-operating
 {:description {:en-gb "Operating pressure range of the product."
                :hu-hu "A termék üzemi nyomástartománya."}
  :label       {:en-gb "Operating pressure"
                :hu-hu "Üzemi nyomás"}}

 :sound-level
 {:description {:en-gb "Sound level of the product."
                :hu-hu "A termék hangszintje."}
  :label       {:en-gb "Sound level"
                :hu-hu "Hangszint"}}

 :sound-level-from-7m
 {:description {:en-gb "Sound level of the product measured from 7 m distance."
                :hu-hu "A termék hangszintje, 7 m távolságból mérve."}
  :label       {:en-gb "Sound level (from 7 m distance)"
                :hu-hu "Hangszint (7 m távolságból)"}}

 :temperature
 {:description {:en-gb "Temperature specification of the product."
                :hu-hu "A termék hőmérsékletspecifikációja."}
  :label       {:en-gb "Temperature"
                :hu-hu "Hőmérséklet"}}

 :temperature-max
 {:description {:en-gb "Maximum operating temperature of the product."
                :hu-hu "A termék maximális üzemi hőmérséklete."}
  :label       {:en-gb "Maximum temperature"
                :hu-hu "Maximális hőmérséklet"}}

 :temperature-operating
 {:description {:en-gb "Operating temperature range of the product."
                :hu-hu "A termék üzemi hőmérséklet tartománya."}
  :label       {:en-gb "Operating temperature"
                :hu-hu "Üzemi hőmérséklet"}}

 :weight-load-capacity
 {:description {:en-gb "Maximum weight the product can carry, transport, or hold."
                :hu-hu "A termék terhelhetősége."}
  :label       {:en-gb "Load capacity"
                :hu-hu "Terhelhetőség"}}

 :weight-max-load
 {:description {:en-gb "Maximum weight that can be applied to or placed on the product."
                :hu-hu "A termék maximális terhelhetősége."}
  :label       {:en-gb "Max. load"
                :hu-hu "Max. terhelhetőség"}}

 :weight-net
 {:description {:en-gb "Net weight of the product."
                :hu-hu "A termék nettó tömege."}
  :label       {:en-gb "Net weight"
                :hu-hu "Nettó tömeg"}}

 :weight-gross
 {:description {:en-gb "Gross weight of the product."
                :hu-hu "A termék bruttó tömege."}
  :label       {:en-gb "Gross weight"
                :hu-hu "Bruttó tömeg"}}}
