
{:battery-capacity
 {:description {:en-gb "Electrical battery capacity of the product."
                :hu-hu "A termék elektromos akkumulátorkapacitása."}
  :label       {:en-gb "Battery capacity"
                :hu-hu "Akkumulátorkapacitás"}}

 :cable-length
 {:description {:en-gb "Cable length of the product."
                :hu-hu "A termék kábelhosszúsága."}
  :label       {:en-gb "Cable length"
                :hu-hu "Kábelhosszúság"}}

 :charging-current.max
 {:description {:en-gb "Maximum charging current of the product."
                :hu-hu "A termék maximális töltőárama."}
  :label       {:en-gb "Maximum charging current"
                :hu-hu "Maximális töltőáram"}}

 :charging-current.output
 {:description {:en-gb "Charging current output of the product."
                :hu-hu "A termék kimeneti töltőárama."}
  :label       {:en-gb "Charging current output"
                :hu-hu "Kimeneti töltőáram"}}

 :nominal-current
 {:description {:en-gb "Nominal current of the product."
                :hu-hu "A termék névleges áramfelvétele / kimeneti áramerőssége."}
  :label       {:en-gb "Nominal current"
                :hu-hu "Névleges áram"}}

 :nominal-power
 {:description {:en-gb "Nominal power output / consumption of the product."
                :hu-hu "A termék névleges teljesítménye / fogyasztása."}
  :label       {:en-gb "Nominal power"
                :hu-hu "Névleges teljesítmény"}}

 :nominal-power-at-12-volt
 {:description {:en-gb "Electrical power rating of the product (when operating on 12 V DC power)."
                :hu-hu "A termék elektromos teljesítménye (12 V egyenáramú üzem esetén)."}
  :label       {:en-gb "Nominal power (12 V)"
                :hu-hu "Névleges teljesítmény (12 V)"}}

 :nominal-power-at-230-volt
 {:description {:en-gb "Electrical power rating of the product (when operating on 230 V AC power)."
                :hu-hu "A termék elektromos teljesítménye (230 V váltóáramú üzem esetén)."}
  :label       {:en-gb "Nominal power (230 V)"
                :hu-hu "Névleges teljesítmény (230 V)"}}

 :nominal-voltage
 {:description {:en-gb "Nominal voltage of the product."
                :hu-hu "A termék névleges feszültsége."}
  :label       {:en-gb "Nominal voltage"
                :hu-hu "Névleges feszültség"}}

 :wire-cross-sectional-area
 {:description {:en-gb "Wire cross-sectional area of the product."
                :hu-hu "A termék vezeték-keresztmetszeti területe."}
  :label       {:en-gb "Wire cross section"
                :hu-hu "vezeték-keresztmetszet"}}}
