
{:packaging-dimension-largest
 {:description {:en-gb "Largest dimension of the product in packed state."
                :hu-hu "A termék legnagyobb mérete csomagolt állapotban."}
  :label       {:en-gb "Packaging dimension (largest)"
                :hu-hu "Csomagolási méret (legnagyobb)"}}

 :packaging-dimension-smallest
 {:description {:en-gb "Smallest dimension of the product in packed state."
                :hu-hu "A termék legkisebb mérete csomagolt állapotban."}
  :label       {:en-gb "Packaging dimension (smallest)"
                :hu-hu "Csomagolási méret (legkisebb)"}}

 :packaging-dimension-middle
 {:description {:en-gb "Middle dimension of the product in packed state."
                :hu-hu "A termék közepes mérete csomagolt állapotban."}
  :label       {:en-gb "Packaging dimension (middle)"
                :hu-hu "Csomagolási méret (közepes)"}}

 :packaging
 {:description {:en-gb "Type of packaging for the product."
                :hu-hu "A termék csomagolásának típusa."}
  :label       {:en-gb "Packaging"
                :hu-hu "Csomagolás"}}

 :set-size
 {:description {:en-gb "Set size of the product."
                :hu-hu "A termék készletmérete."}
  :label       {:en-gb "Set size"
                :hu-hu "Készlet"}}

 :scope-of-delivery
 {:description {:en-gb "Components and accessories included with the product."
                :hu-hu "A termékhez mellékelt alkatrészek és tartozékok."}
  :label       {:en-gb "Scope of delivery"
                :hu-hu "Szállítási tartalom"}}}
